.btn-quantidade, .btn-quantidade-tirar{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 16px;
    background-color: #0288D1;
    font-family: "Inter", sans-serif;
    color: #fff;
}

.btn-quantidade-tirar{
    background-color: #014a72;
}

.btn-resetar{
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 8px;
    background-color: #c51700;
    font-family: "Inter", sans-serif;
    color: #fff;
}   